{% extends 'base.html' %}
{% block content %}
<h1 style="color: #001aff;">About Me</h1>
<p>
My name is David Owolabi. I am a student who is passionate about technology, programming, Software development
,full-stack development,gaming.  
I enjoy learning how things work and building projects that challenge my creativity.
</p>

<p>And I also aspire to learn more skills like Game development,Video editing,Streaming etc.</p>

<p>
Right now, I'm focused on improving my skills in:
<ul>
    <li>Python programming👨‍💻</li>
    <li>Web development (HTML, CSS, JavaScript, Flask)</li>
    <li>Windows Powershell Scripting</li>
    <li>Basic command-line usage</li>
    <li>Game Development🎮</li>
</ul>
</p>

<p>
My goal is to become a skilled software engineer and to build the next big thing.
</p>

{% endblock %}
