{% extends 'base.html' %}
{% block content %}
<div class="project">
    <h2 style="color: #001aff;">1. Portfolio Website</h2>
    <p>A personal website built using Flask, HTML, and CSS to showcase my skills.</p>
</div>

<div class="project">
    <h2 style="color: #001aff;">2. Weather App☁️</h2>
    <p>A simple weather app that gives users live and real time information about the weather condition of a city or area built using Flask,HTML,CSS and Python.</p>
</div>

<div class="project">
    <h2 style="color: #001aff;">3. Regex Search🔎</h2>
    <p>I built a simple Regex Search tool using JavaScript that lets users enter a pattern and instantly find matching text.</p>
</div>

<div class="project">
    <h2 style="color: #001aff;">4.Rock🪨,Paper📃,Scissors✂️ game.</h2>
    <p>I built a simple Rock,Paper,Scissors game using JavaScript that lets users pick from the Rock,Paper,and Scissors and then compares it with the computer's choice and then either the user or the computer wins..</p>
</div>

{% endblock %}
